body {
    background-color: #414141;
}

h3 {
    color: white;
}

.box {
    display: inline-block;
    height: 30rem;
    border: 3px solid #414141;
    color: white;
    column-gap: 40px;
    padding: 20px;
    margin: 5px;
}


.box:hover {
    background-color: #414141;
    border: 3px solid #ff0000;
}

.box-wrapper {
    text-align: center;
    display: block;
}

.text {
    width: 50%;
    /* height:60vh; */
    line-height: 30px;
    justify-content: center;
    /* border:solid grey; */

}



#home {
    /* border:solid red; */
    justify-content: center;
}

.imgs {
    /* border: solid white; */
    width: 20%;
    width: 40vh;
    height: 60vh;
    justify-content: center;

}

#home-text {
    margin-top: 15vh;
    margin-left: 7vw;
    float: left;
}

#about-text {
    margin-top: 15vh;
    margin-right: 7vw;
    float: right;
}

@media(max-width:770px) {

    #home-img,
    #about-img {
        background: none;
        width: 70%;
        float: none;
        margin: auto;
        text-align: center;
        align-items: center;
        background-repeat: no-repeat;
    }

    #home-text,
    #about-text {
        /* border: solid red; */
        float: none;
        margin: auto;
        margin-top: 50vh;
        width: 100%;
        line-height: 20px;
        justify-content: center;
    }

    #sec-home {
        background-image:
            linear-gradient(rgba(10, 0, 0, 0.6), rgba(10, 0, 20, 0.7)),
            url("../imgs/home.jpg");
        background-size: cover;
        box-shadow: inset 0px 0px 100px 60px rgba(0, 0, 0, 0.8);
        backdrop-filter: blur(10px);
        background-repeat: no-repeat;
    }

    #sec-about {
        background-image:
            linear-gradient(rgba(10, 0, 0, 0.7), rgba(10, 0, 20, 0.5)),
            url("../imgs/mobile-about.jpg");
        background-size: cover;
        backdrop-filter: blur(10px);
        box-shadow: inset 0px 0px 100px 60px rgba(0, 0, 0, 0.8);
        background-repeat: no-repeat;
    }

/*     #sec-pricing {
        background-image:
            linear-gradient(rgba(10, 0, 0, 0.7), rgba(10, 0, 20, 0.5)),
            url("../imgs/mobile-about.jpg");
        background-size: cover;
        backdrop-filter: blur(10px);
        box-shadow: inset 0px 0px 100px 60px rgba(0, 0, 0, 0.8);
        background-repeat: no-repeat;
    } */

    .nav-items,
    .bottom-slide:not(#sec-pricing) {
        height: 100vh;
        justify-content: center;
    }
}

@media(min-width:770px) {
    #home-img {
        background:
            linear-gradient(rgba(75, 0, 0, 0.5), rgba(50, 0, 100, 0.5)),
            url("../imgs/home.jpg");
        background-size: cover;
        box-shadow: inset 0px 0px 100px 60px rgba(0, 0, 0, 0.8);
        float: right;
        margin-right: 4vw;
    }

    #about-img {

        background:
            linear-gradient(rgba(75, 0, 0, 0.5), rgba(50, 0, 100, 0.5)),
            url("../imgs/mobile-about.jpg");
        background-size: cover;
        box-shadow: inset 0px 0px 100px 60px rgba(0, 0, 0, 0.8);
        float: left;
        margin-left: 4vw;

    }

    .nav-items,
    .bottom-slide:not(#sec-pricing) {
        height: 100vh;
        justify-content: center;
    }

}
